@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/*Colores principales*/
:root{
    --green: hsl(162, 45%, 56%);
    --lead: hsl(162, 2%, 56%);
    --blue: hsl(220, 85%, 57%);
    --violet: hsl(272, 92%, 32%);
    --text-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(200, 54%, 12%);
    --glass-bg-color: hsl(0, 0%, 100%);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(10px);
    --button-hover-color: hsla(0, 0%, 0%, 0.3);
    --black: hsla(0, 0%, 0%);
}

/*Estructura de todo body*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    color: var(--text-light-gray);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

body::after,
body::before{
    content: '';
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(150px);
    opacity: 0.5;
}

body::before{
    background-color: var(--blue);
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}
body::after{
    background-color: var(--violet);
    right: 0;
    top: 0%;
    transform: translate(50%);
}

a{
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.gradient-text{
    background: linear-gradient(to right, var(--green), var(--lead));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/*Header*/
.header-titulo .color-letra-decoracion{
    margin-top: 10px;
    text-align: center;
}

.header-titulo{
    margin: auto;
    text-align: center;
}
.color-letra-decoracion{
    color: #21E1E1;
}

/*Menu de navegacion(Estilos)*/

nav{
    display: flex;
	position: relative;
	margin: 5px auto;
	height: 50px;
	background: #34495e;
	/*border-radius: 8px;*/
	font-size: 0;
    z-index: 1;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}

/*Animacion de menu de naegacion*/
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	border-radius: 16px;
	transition: all .5s ease 0s;
    
}
nav a:nth-child(1){
	width: 130px;
    
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 130px;
	left: 1px;
    
}
nav a:nth-child(2){
	width: 130px;
}

nav a:nth-child(1):hover~.animation{
	width: 130px;
	left: 1px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}

nav a:nth-child(2):hover~.animation{
	width: 130px;
	left: 130px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}
nav a:nth-child(3){
	width: 120px;
}
nav a:nth-child(3):hover~.animation{
	width: 120px;
	left: 260px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}
nav a:nth-child(4){
	width: 140px;
}
nav a:nth-child(4):hover~.animation{
	width: 140px;
	left: 380px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}
nav a:nth-child(5){
	width: 140px;
}
nav a:nth-child(5):hover~.animation{
	width: 140px;
	left: 521px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}

/*Menu de navegacion 2*/

.nav-principal{
    height: auto;
    margin: auto;
}



/*Estilos del formulario */
.form-main{
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contect{
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.form-contect .circle-1,
.form-contect .circle-2,
.form-contect .circle-3{
position: absolute;
background: linear-gradient(to right, var(--blue), var(--violet));
border-radius: 50%;
z-index: -1;
}

.form-contect .circle-1{
    height: 120px;
    width: 120px;
    left: 0;
    top: 10%;
    transform: translateX(-50%);
}

.form-contect .circle-2{
    height: 80px;
    width: 80px;
    right: 0;
    bottom: 10%;
    transform: translateX(20%, 20%);
}
.form-contect .circle-3{
    height: 50px;
    width: 50px;
    right: 10%;
    top: 10%;
}
.form-contect .box{
    border-color: var(--glass-bg-color);
    border: 1px solid var(--border-color);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: var(--blur);
}

.form-contect h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: var(--text-white);
    font-weight: 500;
}

.form-contect form{
    margin: 25px 0 20px;
}

.form-contect .input-box{
    margin: 25px;
}

.form-contect ::placeholder{
    color: inherit;
    opacity: 1;
}

.form-contect .input-control{
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color);
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}

.form-contect .input-control:focus{
    outline: none;
}

.form-contect .input-link{
    margin-top: 10px;
    text-align: right;
}

.form-contect .btn{
    height: 45px;
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, var(--green), var(--lead));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.form-contect .btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease;
    z-index: -1;
}

.form-contect .btn:hover::before{
    background-color: var(--button-hover-color);
}

.form-contect p{
    text-align: center;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

/*Estilo de texto (Titulo,subtitulos)*/

.texto-encima{
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 2em;
}

.texto-encima2{
    position: absolute;
    top: 87%;
    left: 5%;
    text-align: center;
    font-size: 1.5em;
}

/*Contenedor 2 */
.contenedor2{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima3{
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 2em;
}

.texto-encima4{
    position: absolute;
    top: 63%;
    left: 53%;
    right: 3%;
    text-align: center;
    font-size: 1.2em;
}

.logo-encima{
    position: absolute;
    top: 10%;
    left: 53%;
    width: 40%;
}

/*Estilo carrusel de tienda*/

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 300%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width: 1519px;
      height: 900px;
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      35%{margin-left: 0;}
      
      45%{margin-left: -100%;}
      75%{margin-left: -100%;}
      
      85%{margin-left: -200%;}
      100%{margin-left: -200%;}
      
     /* 75%{margin-left: -300%;}
      100%{margin-left: -300%;}*/
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }
  }

  /*Estilos de punto de venta cartas*/
  

  .container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  .container .card{
    width: 360px;
    height: 580px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
  }

  .container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,.2);
  }

  .container .card img{
    border-radius: 15px;
    width: 330px;
    height: 380px;
  }

  .container .card h4{
    font-weight: 600;
  }

  .container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
  }

  .estilo-boton{
    background-color: #34495e;
    padding:13px;
    border:none;
    border-radius: 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

  .estilo-boton:hover{
    background-color: #21E1E1;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    color: black;
    transition: all 0.5s ease 0s;
}

/*Pagina de detalles del producto*/

/*Fondo de imagen del producto*/
  
  .background-image-producto{
    bottom: -25%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 11.5rem;
    
  }

  .degradado-fondo-image{
    background-color: #0a0a0ab3;
     backdrop-filter: blur(10px);
     top: 0;
     left: 0;
     position: absolute;
     right: 0;
     bottom: -25%;
     padding-top: 13rem;
  }

  .img-fluid{
    max-width: 100%;
    height: auto;
  }
  
  .module-background{
    width: 100%;
  }

  .module-container{
    margin: auto;
  }
 
 /*Tipografia de detalles del producto */
 .position-letra-productos{
    position: absolute;
    left: 45%;
 }
/*Contenedor de carrito class="contenedor-carrito"*/

.contenedor-carrito{
    text-align: center;
    margin: 8px auto;
    padding-right: 50%;
    border-radius: 5px;
}
 
/*Diseño del producto imagen*/

.container .detalleProducto img{
    border-radius: 15px;
    width: 80%;
    height: 100%;
  }

.home{
    column-count: 2;
    position: relative;
    top: 30%;
}

/*Borde de la descripcion genero*/

.border-top-description{
    position: relative;
	background: #34495e;
    margin-top: 20%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    gap: 20px;
    
}

.row-module-image{
    width: 10%;
    padding-left: 50px;
}

.row-module-image img{
    width: 70px;
    
}

.row-module-genero{
    width: 33%;
}

.module-genero-desp{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.row-module-genero hr{
    width: 140px;
}

.row-module-genero ul li{
    list-style: none;
}

/*Carrusel de detalles de compra*/

.slider-frame{
    width: 600px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 15px;
}

.slider-frame ul{
    display: flex;
    padding: 0%;
    width: 500%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;
}

/*Seguno carrusel*/

.slider-frame2{
    width: 100%;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;
    border-radius: 15px;
}

.slider-frame2 ul{
    display: flex;
    padding: 0%;
    width: 300%;
    animation: slide2 10s infinite alternate ease-in-out;
}

.slider-frame2 li{
    list-style: none;
    width: 100%;
}

.slider-frame2 img{
    width: 100%;
}

/*Animacion carrusel*/

@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    35% {margin-left: -100%;}

    40% {margin-left: -200%;}
    55% {margin-left: -200%;}

    60% {margin-left: -300%;}
    80% {margin-left: -300%;}

    85% {margin-left: -400%;}
    100% {margin-left: -400%;}
    
}

/*Segunad animacion de carrusel*/

@keyframes slide2{
    0% {margin-left: 0%;}
    30% {margin-left: 0%;}

    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
    
}

.alt-img-detales-main{
    width: 100%;
}

.alt-img-detales-main img{
    border-radius: 15px;
    width: 100%;
    margin-top: 15px;
}


/*Estilo video de producto*/

.container2{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    margin: 40px auto;
}

.contenedor-detalles-producto-vidimg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.video-detalles{
    margin-top: 40px;
}

.contenedor-detalles-producto-vidimg2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/*Texto de descripcion de producto*/


/*Estilo de foooter*/ 

footer{
    margin-top: 100%;
    background-color: #34495e;
    width: 100%;
}

.titulo-footer{
    text-align: left;
    padding-top: 1%;
    margin-right: 80%;
}

.footer-list{
    text-decoration: none;
    list-style: none;
    display:  inline-block;
    transition: all ease 0.5s;
}

footer ul a {
    color: var(--text-white);
    list-style: none;
    text-decoration: none;
    display:  inline-block;
    margin: 5%;

}

footer ul{
    margin-left: 600px;
}


.politica-footer a:hover{
    transition: all ease 0.5s;
    color:#21E1E1;
}

.texto-invisible{
    color: var(--lead);
}
