@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/*Colores principales*/
:root{
    --green: hsl(162, 45%, 56%);
    --lead: hsl(162, 2%, 56%);
    --blue: hsl(220, 85%, 57%);
    --violet: hsl(272, 92%, 32%);
    --text-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(200, 54%, 12%);
    --glass-bg-color: hsl(0, 0%, 100%);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(10px);
    --button-hover-color: hsla(0, 0%, 0%, 0.3);
    --black: hsla(0, 0%, 0%);
    --menu: hsl(210, 29%, 29%);
    --menu2: hsl(179, 76%, 50%);
}

/*Estructura de todo body*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    color: var(--text-light-gray);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

body::after,
body::before{
    content: '';
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(150px);
    opacity: 0.5;
}

body::before{
    background-color: var(--blue);
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}
body::after{
    background-color: var(--violet);
    right: 0;
    top: 0%;
    transform: translate(50%);
}

a{
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.gradient-text{
    background: linear-gradient(to right, var(--green), var(--lead));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/*Header*/

.header-titulo{
    margin: auto;
    text-align: center;
}
.color-letra-decoracion{
    color: #21E1E1;
}

/*Menu para telefono*/

.block-nav-mobile-23{
    display: none;
}

.nav-logo-mobile{
    width: 150px;
}

.nav-mobile{
    background-color:var(--menu);
    height: 80px;
}

.nav-img-mobile{
    width: 40px;
}

.nav-container-mobile{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;

}

.nav-label-mobile, .nav-input-mobile{
    display: none;
}

.nav-menu-mobile{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav-item-mobile{
    color: white;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

}

.nav-item-mobile::after{
    content: "";
    display: block;
    background: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav-item-mobile:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*Menu de navegacion(Estilos)*/

nav{
    display: flex;
	position: relative;
	margin: 3px auto;
	height: 50px;
	background: #34495e;
	/*border-radius: 8px;*/
	font-size: 0;
    z-index: 1;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}

/*Animacion de menu de naegacion*/
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	border-radius: 16px;
	transition: all .5s ease 0s;
    
}
nav a:nth-child(1){
	width: 130px;
    
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 130px;
	left: 1px;
    
}
nav a:nth-child(2){
	width: 130px;
}

nav a:nth-child(1):hover~.animation{
	width: 130px;
	left: 1px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}

nav a:nth-child(2):hover~.animation{
	width: 130px;
	left: 130px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}
nav a:nth-child(3){
	width: 120px;
}
nav a:nth-child(3):hover~.animation{
	width: 120px;
	left: 260px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}
nav a:nth-child(4){
	width: 140px;
}
nav a:nth-child(4):hover~.animation{
	width: 140px;
	left: 380px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}
nav a:nth-child(5){
	width: 140px;
}
nav a:nth-child(5):hover~.animation{
	width: 140px;
	left: 521px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}

/*Segunda animacion del primer nav*/

nav .animation2{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	border-radius: 16px;
	transition: all .5s ease 0s;
    
}
nav a:nth-child(1){
	width: 130px;
    
}
nav .start-home, a:nth-child(1):hover~.animation2{
	width: 130px;
	left: 1px;
    
}
nav a:nth-child(2){
	width: 130px;
}

nav a:nth-child(1):hover~.animation2{
	width: 130px;
	left: 825px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}

nav a:nth-child(2):hover~.animation2{
	width: 130px;
	left: 960px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}
nav a:nth-child(3){
	width: 120px;
}
nav a:nth-child(3):hover~.animation2{
	width: 120px;
	left: 1090px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}
nav a:nth-child(4){
	width: 140px;
}
nav a:nth-child(4):hover~.animation2{
	width: 140px;
	left: 1205px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}
nav a:nth-child(5){
	width: 140px;
}
nav a:nth-child(5):hover~.animation2{
	width: 140px;
	left: 1347px;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    background: #21E1E1;
}

/*Menu de navegacion 2*/

.nav-principal{
    height: auto;
    margin: auto;
}

.logo-principal-nav a img{
    height: 40px;
    margin-left: 30px;
    margin-top: 15px;
}

.nav-animation-principal{
    margin-left: 46%;
    margin-top: auto;
    margin-bottom: auto;
}



/*Estilos del formulario */
.form-main{
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contect{
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.form-contect .circle-1,
.form-contect .circle-2,
.form-contect .circle-3{
position: absolute;
background: linear-gradient(to right, var(--blue), var(--violet));
border-radius: 50%;
z-index: -1;
}

.form-contect .circle-1{
    height: 120px;
    width: 120px;
    left: 0;
    top: 10%;
    transform: translateX(-50%);
}

.form-contect .circle-2{
    height: 80px;
    width: 80px;
    right: 0;
    bottom: 10%;
    transform: translateX(20%, 20%);
}
.form-contect .circle-3{
    height: 50px;
    width: 50px;
    right: 10%;
    top: 10%;
}
.form-contect .box{
    border-color: var(--glass-bg-color);
    border: 1px solid var(--border-color);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: var(--blur);
}

.form-contect h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: var(--text-white);
    font-weight: 500;
}

.form-contect form{
    margin: 25px 0 20px;
}

.form-contect .input-box{
    margin: 25px;
}

.form-contect ::placeholder{
    color: inherit;
    opacity: 1;
}

.form-contect .input-control{
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color);
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}

.form-contect .input-control:focus{
    outline: none;
}

.form-contect .input-link{
    margin-top: 10px;
    text-align: right;
}

.form-contect .btn{
    height: 45px;
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, var(--green), var(--lead));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.form-contect .btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease;
    z-index: -1;
}

.form-contect .btn:hover::before{
    background-color: var(--button-hover-color);
}

.form-contect p{
    text-align: center;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

/*Estilo de texto (Titulo,subtitulos)*/

.texto-encima{
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 2em;
}

.texto-encima2{
    position: absolute;
    top: 87%;
    left: 5%;
    text-align: center;
    font-size: 1.5em;
}

/*Estilo de texto (Titulo,subtitulos) header*/
 /*Tipografia de detalles del producto */

 .position-letra-productos{
    position: relative;
    margin: auto;
    margin-bottom: 25px;
 }

.sub-centrado{
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
}

.header-titulo .color-letra-decoracion{
    margin-top: 10px;
    text-align: center;
}

/*Contenedor 2 */
.contenedor2{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima3{
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 2em;
}

.texto-encima4{
    position: absolute;
    top: 63%;
    left: 53%;
    right: 3%;
    text-align: center;
    font-size: 1.2em;
}

.logo-encima{
    position: absolute;
    top: 10%;
    left: 53%;
    width: 40%;
}

/*Estilo carrusel de tienda*/

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 300%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width: 1519px;
      height: 900px;
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      35%{margin-left: 0;}
      
      45%{margin-left: -100%;}
      75%{margin-left: -100%;}
      
      85%{margin-left: -200%;}
      100%{margin-left: -200%;}
      
     /* 75%{margin-left: -300%;}
      100%{margin-left: -300%;}*/
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }
  }

  /*Estilos de punto de venta cartas*/
  

  .container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }

  .container .card{
    width: 360px;
    height: 580px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
  }

  .container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,.2);
  }

  .container .card img{
    border-radius: 15px;
    width: 330px;
    height: 380px;
  }

  .container .card h4{
    font-weight: 600;
  }

  .container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
  }

  .estilo-boton{
    background-color: #34495e;
    padding:13px;
    border:none;
    border-radius: 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

  .estilo-boton:hover{
    background-color: #21E1E1;
    box-shadow: #21E1E1 1px 1px 15px 1px;
    color: black;
    transition: all 0.5s ease 0s;
}

/*Pagina de detalles del producto*/

/*Fondo de imagen del producto*/
  
  .background-image-producto{
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .degradado-fondo-image{
    background-color: #0a0a0ab3;
     backdrop-filter: blur(10px);
     top: 0;
     left: 0;
     position: absolute;
     right: 0;
     bottom: -50%;
     padding-top: 13rem;
  }
  
  .module-background{
    width: 100%;
    height: auto;
  }

  .module-container{
    margin: auto;
  }
 
  .background-image-producto2{
    display: none;
  }

/*Contenedor de carrito class="contenedor-carrito"*/

.contenedor-carrito{
    text-align: center;
    margin: 8px auto;
    padding-right: 50%;
    border-radius: 5px;
}
 
/*Diseño del producto imagen*/

.container .detalleProducto img{
    border-radius: 15px;
    width: 530px;
    height: 580px;
  }

.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 100px;
}

/*Borde de la descripcion genero*/

.border-top-description{
    position: relative;
	background: #34495e;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    gap: 20px;
}

.row-module-image{
    width: 10%;
    padding-left: 50px;
}

.row-module-image img{
    width: 70px;
}

.module-genero-desp{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.row-module-genero{
    width: 33%;
}

.row-module-genero hr{
    width: 140px;
}

.row-module-genero ul li{
    list-style: none;
}

/*Carrusel de detalles de compra*/

.slider-frame{
    width: 600px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 15px;
}

.slider-frame ul{
    display: flex;
    padding: 0%;
    width: 500%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;
}

/*Seguno carrusel*/

.slider-frame2{
    width: 100%;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;
    border-radius: 15px;
}

.slider-frame2 ul{
    display: flex;
    padding: 0%;
    width: 300%;
    animation: slide2 10s infinite alternate ease-in-out;
}

.slider-frame2 li{
    list-style: none;
    width: 100%;
}

.slider-frame2 img{
    width: 100%;
}

/*Animacion carrusel*/

@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    35% {margin-left: -100%;}

    40% {margin-left: -200%;}
    55% {margin-left: -200%;}

    60% {margin-left: -300%;}
    80% {margin-left: -300%;}

    85% {margin-left: -400%;}
    100% {margin-left: -400%;}
    
}

/*Segunad animacion de carrusel*/

@keyframes slide2{
    0% {margin-left: 0%;}
    30% {margin-left: 0%;}

    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
    
}

.alt-img-detales-main{
    width: 100%;
}

.alt-img-detales-main img{
    border-radius: 15px;
    width: 100%;
    margin-top: 15px;
}


/*Estilo video de producto*/

.container2{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.contenedor-detalles-producto-vidimg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.video-detalles{
    margin-top: 40px;
}

.contenedor-detalles-producto-vidimg2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/*Texto de descripcion de producto*/

.position-info{
    display: grid;
    grid-template-columns: 1fr;
}


.box-contenedor-detalles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.box-contenedor-detalles2{
    margin-top: 50px;
    text-align: left;
}

.titulo-detalle-juego-bk2{
    display: none;
}

/*Estilo de foooter*/ 

footer{
    position: relative;
    bottom: 0;
    height: auto;
    padding-top: 2.5%;
    padding-bottom: 1%;
    background-color: #34495e;
}

.display-footer-au .footer-style-pt .da-style-pt a{
    color: white;
}


.display-footer-au{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 50px;
}

.img-footer{
    width: 30%;   
}

.img-footer img{
   width: 70%;
}

.footer-style-pt{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.da-style-pt{
    width: 40%;
}

.da-style-pt a{
    margin-top: 10px;
}

.copy-d-autor-class p{
    font-size: 0.9rem;
    color: grey;
}

.titulo-detalle-juego-bk{
    font-size: 2.5rem;
}


/*Responsividad de la pagina*/

@media screen and (max-width: 1500px){

    .nav-animation-principal{
        margin-left: auto;
    }
}

@media screen and (max-width: 1200px){

    .container .home{
        margin: 50px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .container2{
        width: 100%;
        max-width: 1000px;
        margin: 20px auto;
    }

    .slider-frame{
        width: 500px;
        height: auto;
        margin: 50px auto 0;
        overflow: hidden;
        border-radius: 15px;
    }

    .module-background{
        width: 100%;
        height: 100%;
      }

      .background-image-producto{
        height: 120%;
        width: 100%;
      }

      .degradado-fondo-image{
        background-color: #0a0a0ab3;
         backdrop-filter: blur(10px);
         top: 0;
         left: 0;
         position: absolute;
         right: 0;
         bottom: -40%;
         padding-top: 13rem;
      }
    

}

@media screen and (min-width: 1200px){

    .container .home{
        margin: 50px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .container2{
        width: 100%;
        max-width: 1000px;
        margin: 20px auto;
    }

    .slider-frame{
        width: 500px;
        height: auto;
        margin: 50px auto 0;
        overflow: hidden;
        border-radius: 15px;
    }

    .module-background{
        width: 100%;
        height: 100%;
      }

      .background-image-producto{
        height: 120%;
        width: 100%;
      }

      .degradado-fondo-image{
        background-color: #0a0a0ab3;
         backdrop-filter: blur(10px);
         top: 0;
         left: 0;
         position: absolute;
         right: 0;
         bottom: -40%;
         padding-top: 13rem;
      }
    

}


@media screen and (max-width: 1000px){


    .container .detalleProducto img{
        border-radius: 15px;
        width: 400px;
        height: auto;
      }
    
    .home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        gap: 15px;
    }

    .module-background{
        width: 100%;
        height: 100%;
      }

      .background-image-producto{
        height: 140%;
        width: 100%;
      }

      .degradado-fondo-image{
        background-color: #0a0a0ab3;
         backdrop-filter: blur(10px);
         top: 0;
         left: 0;
         position: absolute;
         right: 0;
         bottom: -60%;
         padding-top: 13rem;
      }
    
    
    .container2{
        width: 100%;
        max-width: 800px;
        margin: 20px auto;
    }

    .slider-frame{
        width: 400px;
    }

}

@media screen and (max-width: 720px){

    /*Nav responsiva*/
    .nav-block-principal{
        display: none;
    }
    
    .block-nav-mobile-23{
        margin-top: 0;
        display: block;
    }



    .nav-label-mobile{
        display: block;
        cursor: pointer;
    }

    .nav-menu-mobile{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: var(--menu);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .nav-input-mobile:checked + .nav-menu-mobile{
        background: var(--menu2);
        clip-path: circle(100% at center);
    }


    .titulo-detalle-juego-bk{
        display: none;
        }

    .titulo-detalle-juego-bk2{
            display: block;
            font-size: 1.7rem;
            margin-bottom: 15px;
            text-align: center;
        }

        .position-letra-productos .sub-centrado{
            font-size: 2.1rem;
        }

    .detalleProducto{
        margin: auto;
        text-align: center;
        }
    
    .home{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        gap: 15px;
    }

    .background-image-producto{
        display: none;
    }

    .background-image-producto2{
        display: block;
        width: 100%;
        height: 150%;
        align-items: center;
        overflow: hidden;
        position: absolute;
      }
    
      .degradado-fondo-image{
        background-color: #0a0a0ab3;
         backdrop-filter: blur(10px);
         top: 0;
         left: 0;
         position: absolute;
         right: 0;
         bottom: -100%;
         padding-top: 13rem;
      }
      
      .module-background{
        width: 100%;
        height: auto;
      }

      .container2{
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
    }
    
    .sub-centrado{
        font-size: 2rem;
        text-align: center;
    }

    .position-letra-productos{
        position: relative;
        margin: auto;
        margin-bottom: 5px;
     }

     .slider-frame{
        margin: 20px auto;
    }

    .contenedor-detalles-producto-vidimg{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .video-detalles{
        width: 400px;
        height: 250px;
        margin: auto;
    }
    
    .contenedor-detalles-producto-vidimg2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    /*Genero*/
    .border-top-description{
        position: relative;
        background: #34495e;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        display: flex;
        gap: 35px;
        font-size: 0.9rem;
    }
    
    .row-module-image{
        width: 10%;
        padding-left: 20px;
    }
    
    .row-module-image img{
        width: 60px;
    }
    
    .module-genero-desp{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .row-module-genero{
        width: 33%;
    }
    
    .row-module-genero hr{
        width: 100px;
    }
    
    .row-module-genero ul li{
        list-style: none;
    }


}


@media screen and (max-width: 360px){


    /*header*/
    .titulo-detalle-juego-bk{
        display: none;
        }

    .titulo-detalle-juego-bk2{
            display: block;
            font-size: 1.4rem;
            margin-bottom: 15px;
        }

    .position-letra-productos .sub-centrado{
            font-size: 1.3rem;
        }

    .detalleProducto{
        margin: auto;
        text-align: center;
        }

    .container .home{
        max-width: 150px;
    }
        .container .detalleProducto img{
            width: 170px;
          }
    
    .text-just-detalle{
        font-size: 0.6rem;
        text-align: left;
    }
    
    .home{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        gap: 1px;
    }

    .background-image-producto{
        display: none;
    }

    .background-image-producto2{
        display: block;
        width: 100%;
        height: 150%;
        align-items: center;
        overflow: hidden;
        position: absolute;
      }

      .degradado-fondo-image{
         bottom: -70%;
         padding-top: 13rem;
      }
    

      .container2{
            width: 100%;
            max-width: 200px;
            margin: 10px auto;
      }
    .sub-centrado{
        font-size: 1.5rem;
        text-align: center;
    }

    .position-letra-productos{
        position: relative;
        margin: auto;
        margin-bottom: 5px;
     }


    /*Genero*/
    .border-top-description{
        position: relative;
        background: #34495e;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        gap: 50px;
        font-size: 0.6rem;
    }
    
    .row-module-image{
        width: 10%;
        padding-left: 10px;
    }
    
    .row-module-image img{
        width: 60px;
    }
    
    .module-genero-desp{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .row-module-genero{
        width: 33%;
    }
    
    .row-module-genero hr{
        width: 70px;
    }
    
    .row-module-genero ul li{
        list-style: none;
    }

    /*Imgenes de producto*/
    .slider-frame{
        width: 200px;
        margin: 10px auto 0;
        overflow: hidden;
        border-radius: 15px;
    }

    .contenedor-detalles-producto-vidimg{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .video-detalles{
        width: 200px;
        height: 150px;
        margin:  auto;
    }
    
    .contenedor-detalles-producto-vidimg2{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    /*Texto descipcion*/

    .position-info{
        display: grid;
        grid-template-columns: 1fr;
        font-size: 0.7rem;
    }
    
    
    .box-contenedor-detalles{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .box-contenedor-detalles2{
        margin-top: 5px;
        text-align: left;
    }
    
    .sub-centrado{
        font-size: 1.5rem;
    }

    footer{
        display: none;
    }


}



